/* reset */
body {
  margin: 0;
}

/* default */

@color-main: #9ABBD1;
@distace-main: 7px;

.body {
  background: @color-main;
  border: 1px solid transparent; // fix bottom white bar
}

.heading {
  margin: 10px auto;
  max-width: 960px;
  .logo {
    font-size: 2em;
    font-family: Raleway;
    font-weight: normal;
    margin: 0 0 0 @distace-main;
    display: inline-block;
  }

  .switch {
    margin: 5px @distace-main 0 0;
    float: right;
  }

}


.switch {
  display: block;
  a {
    text-decoration: none;
  }

  .case {
    font-family: Raleway;
    border-radius: 3px;
    padding: 5px 10px;
    color: black;
    font-size: 23px;

    &.selected {
      background: @color-main;
      color: white;
      &:hover {
        box-shadow: none;
      }
    }
    &:hover {
      box-shadow: inset 2px 2px 0px 0px #195074;
    }
  }

  &:after {
    clear: both;
    display: block;
    content: "";
  }
}

.pagination {

  margin: 10px auto;
  max-width: 960px;

  a {
    text-decoration: none;
    color: white;
    font-family: Raleway;
    font-size: 23px;
  }

  .older {
    float: right;
    margin-right: @distace-main;
    &:after {
      font-size: 28px;
      content: ">";
      margin-left: 10px;
    }
  }

  .newer {
    float: left;
    margin-left: @distace-main;
    &:before {
      font-size: 28px;
      content: "<";
      margin-right: 10px;
    }
  }

  &:after {
    clear: both;
    display: block;
    content: "";
  }

}

/* main */
.gifs {
  text-align: justify;
  .gif {

    font-size: 0.1px; /*hide whitespace between elements*/
    display: inline-block;
    padding: @distace-main;
    margin: @distace-main;
    background: white;
    border-radius: 3px;
    img {
      border-radius: 3px;
      display: block;
      max-width: 100%;
    }
    &:hover {
      box-shadow: 5px 5px 0px #195074;
    }
  }
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }
}

.gifs + .pagination {
  margin-top: 0;
}


@media only screen and (max-device-width: 480px) {
  .gifs .gif img {
    width: 100%;
  }

  .heading .logo {
    font-size: 1.5em;
  }

  .switch .case {
    font-size: 1em;
  }
}