<div class="container">

  <div class="heading">
    <h1 class="logo">Almost Giphy</h1>
    <div class="switch">
      <a ng-href="#/show/cats/1" ng-class="{selected: search == 'cats'}" class="case">Cats</a>
      <a ng-href="#/show/dogs/1" ng-class="{selected: search == 'dogs'}" class="case">Dogs</a>
    </div>
  </div>


  <div class="body">
    <div class="pagination">
      <a ng-if="newer" ng-href="#/show/{{search}}/{{newer}}" class="newer">newer</a>
      <a ng-if="older" ng-href="#/show/{{search}}/{{older}}" class="older">older</a>
    </div>

    <div class="gifs">
      <!-- span is added to make justify work -->
      <span ng-repeat-start="gif in gifs"></span>
        <a ng-href="{{gif.href}}" class="gif">
          <img src="{{gif.url}}" />
        </a>
      <span ng-repeat-end></span>
    </div>

    <div class="pagination">
      <a ng-if="newer" ng-href="#/show/{{search}}/{{newer}}" class="newer">newer</a>
      <a ng-if="older" ng-href="#/show/{{search}}/{{older}}" class="older">older</a>
    </div>
  </div>

</div>
