<div class="container">

  <div class="switch">
    <a ng-href="#/show/cats">Cats</a>
    <a ng-href="#/show/dogs">Dogs</a>
  </div>

  <div class="pagination">
      <a ng-if="newer" ng-href="#/show/{{search}}/{{newer}}">newer</a>
      <a ng-if="older" ng-href="#/show/{{search}}/{{older}}">older</a>
  </div>

  <div class="gifs">
    <a ng-repeat="gif in gifs" class="gif" ng-href="{{gif.href}}">
      <img src="{{gif.url}}" />
    </a>
  </div>

  <div class="pagination">
      <a ng-if="newer" ng-href="#/show/{{search}}/{{newer}}">newer</a>
      <a ng-if="older" ng-href="#/show/{{search}}/{{older}}">older</a>
  </div>

</div>
